# Copy this to .env in the project root, then:
#   - Fill in the values appropiately with the secrets
#   - symlink to Bruno workspace folder for API tests to run (ln -s project-root/.env project-root/api-tests/Ffreedom-exp/GoCardless/.env)


#This project uses Bruno for API tests. 
#Before you import/run the collection, you’ll need to symlink your `.env` into the Bruno worspace folder `project-root-folder/api-tests/Ffreedom-expenses/GoCardless`

GOCARDLESS_SECRET_ID = from gocardless dashboard
GOCARDLESS_SECRET_KEY = from gocardless dashboard (only when creating a new key)
